# Assignment 1

# 5 Python

In [1]:
#Say "Hello, World!" With Python

my_string = "Hello, World!"
print(my_string)

Hello, World!

In [2]:
#Python If-Else
#!/bin/python3

import math
import os
import random
import re
import sys



n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

5
Weird

In [3]:
#Arithmetic Operators
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

5
6
11
-1
30

In [4]:
#Python: Division
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

6
5
1
1.2

In [5]:
#Loops
if __name__ == '__main__':
    n = int(input())
    for x in range(0,n):
        print(x*x)

5
0
1
4
9
16

In [6]:
#Print Function
if __name__ == '__main__':
    n = int(input())
    string=""
    for x in range(1,n+1):
        string+=str(x)
    print(string)

3
123

# 10 SQL

In [ ]:
# Revising the Select Query 1
#Query the names of all American cities in CITY with populations larger than 100000. The CountryCode for America is USA.

select * from city where population >100000 and countrycode="USA"

In [ ]:
#Revising the Select Query 2
#Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

select * from city where population >120000 and countrycode="USA"

In [ ]:
#Select all
#Query all columns (attributes) for every row in the CITY table.
select * from city

In [ ]:
#Select by ID
#Query all columns for a city in CITY with the ID 1661.
select * from city where id=1661

In [ ]:
#Japanese Cites Attribute
#Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.
select * from city where countrycode="JPN"

In [ ]:
#Weather Observation Station 1
#Query a list of CITY and STATE from the STATION table.
select city,state from station

In [ ]:
#Japanese Cities' Names
#Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.
select name from city where countrycode="JPN";

In [ ]:
#Weather Observation Station 3
#Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.
select distinct city from station
where MOD(ID, 2) = 0
order by city;

In [ ]:
#Weather Observation Station 4
#Let  be the number of CITY entries in STATION, and let  be the number of distinct CITY names in STATION; query the value of  from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.
SELECT COUNT(CITY) - COUNT (DISTINCT City)
FROM STATION ;

In [ ]:
#Weather Observation Station 5
#Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.
select top 1 city  + ' ' +  cast(len(city) as varchar) from station where len(city) = (select min(len(city)) from station) order by city;
select top 1 city  + ' ' +  cast(len(city) as varchar) from station where len(city) = (select max(len(city)) from station) order by city;